<% provide(:title, 'Users') %>
<h1>Users</h1>

<%= will_paginate %>

<%= form_tag users_path, method: 'get' do %>
<div class="input-append">
  <%= text_field_tag :search, params[:search], class: "span4" %>
  <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
</div>
<% end %>



<ul id="users" class="users">
	<%= render @users %>
</ul>

