<li>

	<%= content_tag(:span, account.name.gsub('~',' '), class: "name") %>
	<%= content_tag(:span, "{ " + 	account.tag + " }", class: "pull-right text-right") %>
	<%= content_tag(:br) %>


	<ol class="yizkors">
		<% if account.yizkors.count > 0 %>
			<%= render partial: 'person', collection: account.yizkors.order(:sort_order) %>
		<% else %>
			<%= "No yizkors." %>
		<% end %>
	</ol>

	<ul class="holocaust">
		<li class="<%= account.mentioned_in?(Date.current.year) ? 'mentioned':'not-mentioned' %>">
				<%= "Holocaust memorial" %>
				<span class="<%= account.mentioned_in?(1.year.ago.year) ? 'mentioned':'not-mentioned' %>">
						<%= "(#{1.year.ago.year}: Holocaust memorial)" %>
				</span>
		</li>
	</ul>

	<div class="address">
		<% if account.address %>
			<%= render 'accounts/address', address: account.address %>
		<% else %>
			<%= "No mailing address." %>
		<% end %>
	</div>

</li>

  <div class="span8">
    <% if @account.people.any? %>
      <h3>People (<%= @account.people.count %>)</h3>
      <ol class="people">
        <%= render partial: 'person', collection: account.people.order(:sort_order) %>
      </ol>
    <% end %>
  </div>